## Estadistica Aplicada
Sesión 4-17 agosto

Francisco Javier Chávez Hernández 2034204

Gpo 44

In [1]:
## 1 Las librerias a utilizar

import numpy as np
import pandas as pd

In [3]:
## 2 Los datos a utilizar
calificaciones=pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/Calificaciones.csv')

In [5]:
calificaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 28 non-null     int64
 1   Nombre             28 non-null     object
 2   Apellido           28 non-null     object
 3   Calficación Final  28 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.0+ KB

In [8]:
calificaciones.shape

(28, 4)

In [12]:
calificaciones.head()

   Id   Nombre   Apellido  Calficación Final
0   1  ANTONIO     GARCIA                 73
1   2   MANUEL  FERNANDEZ                 19
2   3     JOSE   GONZALEZ                 38
3   4    DAVID      PEREZ                 14
4   5     JUAN      LOPEZ                 99

In [14]:
calificaciones.tail()

    Id       Nombre   Apellido  Calficación Final
23  24         LUIS  DOMINGUEZ                 12
24  25      ALBERTO      ORTIZ                 99
25  26  JUAN CARLOS     IBAÑEZ                 43
26  27       ALVARO    RAMIREZ                 40
27  28       ADRIAN       SAEZ                  7

In [17]:
calificaciones=calificaciones[['Nombre', 'Apellido','Calficación Final']]

In [19]:
#renombrar
calificaciones=calificaciones.rename(columns={'Calficación Final':'CalFinal'})

In [20]:
calificaciones.head()

    Nombre   Apellido  CalFinal
0  ANTONIO     GARCIA        73
1   MANUEL  FERNANDEZ        19
2     JOSE   GONZALEZ        38
3    DAVID      PEREZ        14
4     JUAN      LOPEZ        99

In [25]:
# calcular el promedio
calificaciones['CalFinal'].mean()

52.0

In [28]:
#saber si aprueba
calificaciones['Situación']=np.where(calificaciones['CalFinal']>=70, 'Aprobado', 'Reprobado')

In [29]:
calificaciones.head()

    Nombre   Apellido  CalFinal  Situación
0  ANTONIO     GARCIA        73   Aprobado
1   MANUEL  FERNANDEZ        19  Reprobado
2     JOSE   GONZALEZ        38  Reprobado
3    DAVID      PEREZ        14  Reprobado
4     JUAN      LOPEZ        99   Aprobado

In [30]:
#contar aprobados y reprobados
calificaciones.groupby('Situación')['CalFinal'].count()

Situación
Aprobado     10
Reprobado    18
Name: CalFinal, dtype: int64

In [31]:
#calcular promedio de los aprobados y reprobados
calificaciones.groupby('Situación')['CalFinal'].mean().round(1)

Situación
Aprobado     90.1
Reprobado    30.8
Name: CalFinal, dtype: float64

In [34]:
calificaciones.groupby('Situación')['CalFinal'].agg(['mean','count','std']).round(1)

           mean  count   std
Situación
Aprobado   90.1     10  10.0
Reprobado  30.8     18  21.6

In [40]:
aprobados=calificaciones.query('Situación=="Aprobado"')

In [41]:
aprobados

          Nombre Apellido  CalFinal Situación
0        ANTONIO   GARCIA        73  Aprobado
4           JUAN    LOPEZ        99  Aprobado
7      JOSE LUIS    GOMEZ        89  Aprobado
10         JESUS   ALONSO        94  Aprobado
12        MIGUEL     DIAZ        85  Aprobado
14        RAFAEL  ALVAREZ        86  Aprobado
15  MIGUEL ANGEL   MORENO       100  Aprobado
18         ANGEL      GIL       100  Aprobado
22         JORGE    RAMOS        76  Aprobado
24       ALBERTO    ORTIZ        99  Aprobado

In [42]:
reprobados=calificaciones.query('Situación=="Reprobado"')

In [43]:
reprobados

              Nombre   Apellido  CalFinal  Situación
1             MANUEL  FERNANDEZ        19  Reprobado
2               JOSE   GONZALEZ        38  Reprobado
3              DAVID      PEREZ        14  Reprobado
5       JOSE ANTONIO  RODRIGUEZ        66  Reprobado
6             JAVIER    SANCHEZ        46  Reprobado
8   FRANCISCO JAVIER    JIMENEZ        10  Reprobado
9             CARLOS       RUIZ        62  Reprobado
11         ALEJANDRO  HERNANDEZ        17  Reprobado
13       JOSE MANUEL  GUTIERREZ        34  Reprobado
16             PEDRO      MUÑOZ         1  Reprobado
17             PABLO     BLANCO        64  Reprobado
19            SERGIO    AGUIRRE         2  Reprobado
20        JOSE MARIA       DIEZ        29  Reprobado
21          FERNANDO    SALAZAR        51  Reprobado
23              LUIS  DOMINGUEZ        12  Reprobado
25       JUAN CARLOS     IBAÑEZ        43  Reprobado
26            ALVARO    RAMIREZ        40  Reprobado
27            ADRIAN       SAEZ         7  Reprobado

##  Matplotlib mathematical plot library
Graficador de python

In [50]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.7.2-cp310-cp310-win_amd64.whl (7.5 MB)
     ---------------------------------------- 7.5/7.5 MB 6.8 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp310-cp310-win_amd64.whl (55 kB)
     ---------------------------------------- 55.3/55.3 kB 1.5 MB/s eta 0:00:00
Collecting pillow>=6.2.0
  Downloading Pillow-10.0.0-cp310-cp310-win_amd64.whl (2.5 MB)
     ---------------------------------------- 2.5/2.5 MB 8.4 MB/s eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.42.0-cp310-cp310-win_amd64.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 9.0 MB/s eta 0:00:00
Collecting contourpy>=1.0.1
  Downloading contourpy-1.1.0-cp310-cp310-win_amd64.whl (470 kB)
     -------------------------------------- 470.4/470.4 kB 7.4 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.20 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib) (1.25.2)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib) (23.1)
Collecting pyparsing<3.1,>=2.3.1
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
     ---------------------------------------- 98.3/98.3 kB 2.8 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.1.0 cycler-0.11.0 fonttools-4.42.0 kiwisolver-1.4.4 matplotlib-3.7.2 pillow-10.0.0 pyparsing-3.0.9
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.2.1
[notice] To update, run: C:\Users\Dell\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [55]:
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: TkAgg

In [53]:
edades=[25, 27, 21, 30]
personas=[1,2,3,4]

In [56]:
#graficar
plt.bar(personas, edades);

In [63]:
plt.bar(personas, edades, color=['yellow', 'red','green','blue'])
plt.xlabel('Personas')
plt.ylabel('Edades')
plt.title('Edades de 4 desconocidos')

plt.show()